*.zip filter=lfs diff=lfs merge=lfs -text
Embeddings/models--sentence-transformers--all-MiniLM-l6-v2/blobs/* filter=lfs diff=lfs merge=lfs -text
Embeddings/**/* filter=lfs diff=lfs merge=lfs -text
data/**/* filter=lfs diff=lfs merge=lfs -text
Vector_index/**/* filter=lfs diff=lfs merge=lfs -text
